<nav class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
        <img src="/assets/images/logo-nav.png" id="nav-logo" width="50" height="50">
        <ul class="uk-navbar-nav">
       
        <li id="navbrand">Shelter Helper</li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/adopt">Adopt</a></li>
            <li><a href="/shelterHelper/home">Shelter</a></li>
            <li><a href="/add">Add Shelter</a></li>
        </ul>
    </div>
</nav> 

<div class="uk-container">
    <form>

         <h2>Find Your Breed:</h2>

          <label>Location: (City, St)</label>
        <textarea class="uk-textarea" id="city-location"></textarea> 

                {{#each questions}}
                <p>{{this.question}}</p>
                <input type="radio" name="question{{this.key}}" id="question{{this.key}}" + "a" value="1">
                <label for="question{{this.key}}" + "a">{{this.answers.a}}</label>
                <input type="radio" name="question{{this.key}}" id="question{{this.key}}" + "b" value="2">
                <label for="question{{this.key}}" + "b">{{this.answers.b}}</label>
                <input type="radio" name="question{{this.key}}" id="question{{this.key}}" + "c" value="3">
                <label for="question{{this.key}}" + "c">{{this.answers.c}}</label>
                <input type="radio" name="question{{this.key}}" id="question{{this.key}}" + "d" value="4">
                <label for="question{{this.key}}" + "d">{{this.answers.d}}</label>
                {{/each}}
        


        {{!-- <label><input class="uk-radio" type="radio">Label</label>
        <label><input class="uk-checkbox" type="checkbox">Label</label> --}}
        {{!-- <label><input class="uk-range" type="range">Slide</label>
         --}}

        <button class="uk-button uk-button-primary" id="find-breed">Submit</button>
    </form>

    <hr>

    <div id="sug-breed">
        <h3>Suggested Breed:</h3>
        
    </div>

</div>